/*CANVAS*/

canvas {
  display: block;
}

/*CONTROLS*/

.grid-container {
  display: grid;
  grid-gap: 20px;
  min-width: 530px; /*want a neater solution here*/

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) 50px;
}

/*EDITOR BUTTONS*/

.btn {
  background-color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 0px;
  font-family: Montserrat-thin;
  font-weight: 900;
  font-size: 1rem;
  color: white;
}

.btn:disabled {
  background-color: rgb(128, 128, 128, 0.2);
  cursor: not-allowed;
}

.btn.add-line {
  background-image: url('../symbols/add.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 2/3;
}

.btn.text-right {
  background-image: url('../symbols/align-to-right.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 3/5;
}

.btn.text-left {
  background-image: url('../symbols/align-to-left.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 3/3;
}

.btn.text-center {
  background-image: url('../symbols/center-text-alignment.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 3/4;
}

.btn.erase {
  background-image: url('../symbols/trash.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 2/4;
}

.btn.highlight {
  background-image: url('../symbols/A.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 4/4;
}

.btn.line-switch {
  background-image: url('../symbols/switch-line.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 2/ 2;
}

.btn.font-grow {
  background-image: url('../symbols/increase_font_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 3/1;
}

.btn.font-shrink {
  background-image: url('../symbols/decrease_font_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 3/2;
}

.btn.color-input {
  background-image: url('../symbols/paint-board.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 4/5;
  position: relative;
}

.btn.stickers {
  grid-row-start: 5;
  grid-column: 1/6;
}

.btn.download {
  grid-area: 6/2/ 6/4;
  text-align: center;

  text-decoration: none;
  background-color: #cd857e;
}

.btn.download::after {
  content: 'Download';
  padding-left: 20px;
}

.btn.share {
  grid-area: 6/4/ 6/6;
  text-align: center;
  background-color: #1a6ed8;
}

.btn.share a {
  display: block;
  width: 100%;
  text-decoration: none;
  background: none;
  color: white;
  font-family: Montserrat-thin;
  font-weight: 900;
  font-size: 1rem;
}

/******************************/

/*INPUTS*/

.text-input {
  grid-column: 1/ 6;
}

.text-input input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: none;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 1rem;
}

.color-input {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.color-input input {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*MOBILE*/

@media (max-width: 480px) {
  .canvas-container {
    width: 90vw;
    height: 90vw;
    margin-bottom: 10px;
  }

  .grid-container {
    display: grid;
    grid-gap: 20px;
    min-width: 0px;
    min-height: 450px;
  }
}

/*LARGE*/

/* @media (min-width: 975px) {
  .canvas-container {
    width: 430px;
    height: 430px;
  }
} */

/* @media (min-width: 1100px) {
  .canvas-container {
    width: 640px;
    height: 640px;
  } */

@media (min-width: 1140px) {
  .canvas-container {
    width: 650px;
    height: 650px;
  }
}

/*Medium*/
